---
title: Проверка проверки сотрудника i9
description: Закон об иммиграционной реформе и контроле над иммиграцией требует, чтобы работодатели США проверяли наличие права на трудоустройство у вновь нанимаемых сотрудников.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.scope: Core, Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: 544c298f83c4b1838a94aee95ed6038fcc1f4e4f
ms.sourcegitcommit: 16bfa0fd08feec1647829630401ce62ce2ffa1a4
ms.translationtype: HT
ms.contentlocale: ru-RU
ms.lasthandoff: 08/02/2019
ms.locfileid: "1850787"
---
# <a name="employment-verification-i9-verification"></a><span data-ttu-id="493b2-103">Проверка проверки сотрудника i9</span><span class="sxs-lookup"><span data-stu-id="493b2-103">Employment verification i9 verification</span></span>

[!include [task guide banner](../../../includes/task-guide-banner.md)]

<span data-ttu-id="493b2-104">Закон об иммиграционной реформе и контроле над иммиграцией требует, чтобы работодатели США проверяли наличие права на трудоустройство у вновь нанимаемых сотрудников.</span><span class="sxs-lookup"><span data-stu-id="493b2-104">The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees.</span></span> <span data-ttu-id="493b2-105">Эта процедура демонстрирует последовательность действий при записи документов, необходимых для проверки информации в форме I-9.</span><span class="sxs-lookup"><span data-stu-id="493b2-105">This procedure will walk you through the steps of recording the necessary documents for I-9 verification.</span></span> <span data-ttu-id="493b2-106">В процедуре используется демонстрационная компания USMF.</span><span class="sxs-lookup"><span data-stu-id="493b2-106">Use the USMF company for this procedure.</span></span>

1. <span data-ttu-id="493b2-107">Перейдите в раздел "Управление персоналом" > "Работники" > "Сотрудники".</span><span class="sxs-lookup"><span data-stu-id="493b2-107">Go to Human resources > Workers > Employees.</span></span>
2. <span data-ttu-id="493b2-108">Используйте экспресс-фильтр для поиска записей.</span><span class="sxs-lookup"><span data-stu-id="493b2-108">Use the Quick Filter to find records.</span></span> <span data-ttu-id="493b2-109">Например, отфильтруйте поле "Имя" по значению "Vince".</span><span class="sxs-lookup"><span data-stu-id="493b2-109">For example, filter on the Name field with a value of 'Vince'.</span></span>
3. <span data-ttu-id="493b2-110">Выбор сотрудника.</span><span class="sxs-lookup"><span data-stu-id="493b2-110">Select the employee.</span></span> <span data-ttu-id="493b2-111">Пример: Vince Prado</span><span class="sxs-lookup"><span data-stu-id="493b2-111">Example: Vince Prado</span></span>
4. <span data-ttu-id="493b2-112">Разверните экспресс-вкладку "Личные данные".</span><span class="sxs-lookup"><span data-stu-id="493b2-112">Expand the Personal information FastTab.</span></span>
5. <span data-ttu-id="493b2-113">Щелкните "Идентификационные номера".</span><span class="sxs-lookup"><span data-stu-id="493b2-113">Click Identification numbers.</span></span>
6. <span data-ttu-id="493b2-114">Нажмите Создать.</span><span class="sxs-lookup"><span data-stu-id="493b2-114">Click New.</span></span>
7. <span data-ttu-id="493b2-115">Выберите тип удостоверения личности, запись о котором вы делаете.</span><span class="sxs-lookup"><span data-stu-id="493b2-115">Select the identification type that you are recording.</span></span> <span data-ttu-id="493b2-116">Пример: "Паспорт"</span><span class="sxs-lookup"><span data-stu-id="493b2-116">Example: Passport</span></span>
8. <span data-ttu-id="493b2-117">В поле "Число" введите значение.</span><span class="sxs-lookup"><span data-stu-id="493b2-117">In the Number field, type a value.</span></span>
9. <span data-ttu-id="493b2-118">Выберите значение "Да" в поле "Основной".</span><span class="sxs-lookup"><span data-stu-id="493b2-118">Select Yes in the Primary field.</span></span>
10. <span data-ttu-id="493b2-119">В поле "Описание" введите краткое описание записи удостоверения личности.</span><span class="sxs-lookup"><span data-stu-id="493b2-119">In the Description field, enter a brief description of the identification record..</span></span>
11. <span data-ttu-id="493b2-120">В списке выпускающих агентств выберите организацию, которая выдала работнику это удостоверения личности.</span><span class="sxs-lookup"><span data-stu-id="493b2-120">In the issuing agency select the agency that issued the form of identification to the worker.</span></span> <span data-ttu-id="493b2-121">Пример: "Правительство"</span><span class="sxs-lookup"><span data-stu-id="493b2-121">Example: Government</span></span>
12. <span data-ttu-id="493b2-122">Введите дату выдачи работнику этого удостоверения личности соответствующей организации.</span><span class="sxs-lookup"><span data-stu-id="493b2-122">Enter the date that the issuing agency issued the form of identification to the worker.</span></span> <span data-ttu-id="493b2-123">Пример: 15.02.2011</span><span class="sxs-lookup"><span data-stu-id="493b2-123">Example: 02/15/2011</span></span>
13. <span data-ttu-id="493b2-124">Введите дату истечения срока действия этого удостоверения личности.</span><span class="sxs-lookup"><span data-stu-id="493b2-124">Enter the date when the form of identification expires.</span></span> <span data-ttu-id="493b2-125">Пример: 15.02.2021</span><span class="sxs-lookup"><span data-stu-id="493b2-125">Example: 2/15/2021</span></span>
14. <span data-ttu-id="493b2-126">Нажмите кнопку "Сохранить".</span><span class="sxs-lookup"><span data-stu-id="493b2-126">Click Save.</span></span>
15. <span data-ttu-id="493b2-127">Закройте страницу.</span><span class="sxs-lookup"><span data-stu-id="493b2-127">Close the page.</span></span>
16. <span data-ttu-id="493b2-128">Перейдите на вкладку "Занятость".</span><span class="sxs-lookup"><span data-stu-id="493b2-128">Click the Employment tab.</span></span>
17. <span data-ttu-id="493b2-129">Щелкните "I-9".</span><span class="sxs-lookup"><span data-stu-id="493b2-129">Click I-9.</span></span>
18. <span data-ttu-id="493b2-130">Щелкните "Создать".</span><span class="sxs-lookup"><span data-stu-id="493b2-130">Click New.</span></span>
19. <span data-ttu-id="493b2-131">В поле "Право на трудоустройство" выберите один из вариантов.</span><span class="sxs-lookup"><span data-stu-id="493b2-131">In the Work eligibility field, select an option.</span></span>
    * <span data-ttu-id="493b2-132">Если сотрудник не является гражданином США, необходимо ввести его номер разрешения на постоянное место жительства или разрешения на въезд.</span><span class="sxs-lookup"><span data-stu-id="493b2-132">If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.</span></span>  
20. <span data-ttu-id="493b2-133">Выберите вариант "GroupListA".</span><span class="sxs-lookup"><span data-stu-id="493b2-133">Select the GroupListA option.</span></span>
    * <span data-ttu-id="493b2-134">Выбранный список зависит от того, какого типа удостоверения личности предоставил работник.</span><span class="sxs-lookup"><span data-stu-id="493b2-134">The list that you select depends on what form of identification the worker provided.</span></span> <span data-ttu-id="493b2-135">Работник должен предоставить один документ из списка A или один документа из списка B и C. Например, если сотрудник предоставил паспорт, можно выбрать список A.</span><span class="sxs-lookup"><span data-stu-id="493b2-135">A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected.</span></span> <span data-ttu-id="493b2-136">Однако если работник предоставил только свои водительские права и карточку социального обеспечения, необходимо выбрать список B и C.</span><span class="sxs-lookup"><span data-stu-id="493b2-136">However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.</span></span>  
21. <span data-ttu-id="493b2-137">В поле "Тип документа I-9" выберите тип документа, который предоставил работник.</span><span class="sxs-lookup"><span data-stu-id="493b2-137">In the I-9 document type field, select the type of document that the worker provided.</span></span>
22. <span data-ttu-id="493b2-138">В поле "Номер документа" введите или выберите значение.</span><span class="sxs-lookup"><span data-stu-id="493b2-138">In the Document number field, enter or select a value.</span></span>
23. <span data-ttu-id="493b2-139">Нажмите кнопку "Сохранить".</span><span class="sxs-lookup"><span data-stu-id="493b2-139">Click Save.</span></span>

